<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" />

    <title>Department of Mechanical and Industrial Engineering</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />

    <!-- Include Unite Gallery core files -->
    <link href='unitegallery/css/unite-gallery.css' rel='stylesheet' type='text/css' />

    <!-- include Unite Gallery Theme Files -->

    <link href='unitegallery/themes/default/ug-theme-default.css' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="style.css">

</head>

<body style="background-color: #f3f4f5;">

    <div id="app">
        <div class="ui tablet computer only sticky" style="background: #1b1c1d">
            <div class="ui container ">
                <div class="ui menu massive inverted">
                    <div class="item" style="padding: 0; position: inherit;"><img
                            src="./assets/images/logo/IITR_new_logo_WHITE.png"> Indian Institute of
                        Technology <br> Roorkee </div>

                    <div class="item right" style="position: inherit; ;"><span></span> Department of <br> Mechanical and
                        Industrial Engineering </div>
                </div>
            </div>

            <div class="ui container ">
                <div class="ui small  menu inverted nav seven item tablet computer only ">
                    <a class=" item" href="https://me.iitr.ac.in/">
                        Home
                    </a>
                    <!-- <div class="menu"> -->
                    <div class="ui dropdown item" href="https://www.iitr.ac.in/departments/ME/pages/Academics.html">
                        Academics <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="departments/ME/pages/Academics+Courses_Offered.html">Courses
                                Offered</a>
                            <a class="item" href="departments/ME/pages/Academics+_en_Course_Structure__en_.html">Course
                                Structure</a>
                            <a class="item" href="departments/ME/pages/Academics+Placement_Record.html">Placement
                                Record</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Downloads.html">Downloads</a>
                        </div>
                    </div>
                    <div class="ui dropdown item" href="https://www.iitr.ac.in/departments/ME/pages/admission.html">
                        Admission <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item"
                                href="https://iitr.ac.in/departments/ME/pages/PhD_Admission+PhD_Admission.html">PhD</a>
                            <a class="item"
                                href="https://iitr.ac.in/departments/ME/pages/PhD_Admission+Post_Graduate_Program_Admission.html">Post
                                Graduate Program</a>
                        </div>
                    </div>
                    <div class="ui dropdown item" href="https://www.iitr.ac.in/departments/ME/pages/People.html">
                        People <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/People+Alumni.html">Alumni</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/People+Faculty+Faculty_List.html">Faculty
                                List</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/People+Students.html">Students</a>
                        </div>
                    </div>
                    <div class="ui dropdown item" href="https://www.iitr.ac.in/departments/ME/pages/Research.html">
                        Research <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Consultancy_and_Testing_Projects.html">Consultancy
                                &amp; Testing Projects</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Expertise_in_Research.html">Expertise
                                In Research</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Facilities.html">Facilities</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Honours_and_Awards.html">Honours
                                And Awards</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Major_Research.html">Major
                                Research</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Minor_Consultancy.html">Minor
                                Consultancy</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+_en_PhD_Awarded__en_.html">PhD
                                Awarded</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Publication.html">Publications</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Reports.html">Reports</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Specializations.html">Specializations</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Sponsered_Research.html">Sponsered
                                Research</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Research+Summary.html">Summary</a>
                        </div>
                    </div>
                    <a href="https://iitr.ac.in/departments/ME/pages/Achievements.html" class="item">
                        Achievements
                    </a>
                    <div class="ui dropdown item" href="https://www.iitr.ac.in/departments/ME/pages/Events.html">
                        Events <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Events+Faculty_Participation.html">Faculty
                                Participation</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Events+Upcoming+Upcoming.html">Upcoming</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Events+Organised.html">Organised</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Events+Student_Sections.html">Student
                                Sections</a>
                            <a class="item"
                                href="https://www.iitr.ac.in/departments/ME/pages/Events+Visits.html">Visits</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui mobile only grid">
            <div class="ui top fixed inverted borderless huge menu">
                <a class=" item">Department of <br>Mechanical and <br>Industrial Engineering</a>
                <div class="right menu">
                    <div class="item">
                        <button class="ui icon toggle basic inverted button">
                            <i class="content icon"></i>
                        </button>
                    </div>
                </div>
                <div class="ui vertical borderless inverted fluid menu">
                    <div v-for="i in nav_data">

                        <a v-if="!i.dropdown" class="item" :href="i.link">{{i.name}}</a>
                        <div v-else class="ui dropdown item" :href="i.link">
                            {{i.name}} <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" v-for="j in i.dropdown" :href="j.link">{{j.name}}</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>



        <div class="slide">
            <div class="ui inverted vertical ">
                <div class="ui active text" style=>
                    <img class="ui fluid  image" src="assets/images/slider/photo-1599634874901-e919c4fe1400.jfif.png">
                </div>
            </div>
            <div class="ui inverted vertical ">
                <div class="ui active text" style=>
                    <img class="ui fluid  image" src="assets/images/slider/workshop.png">
                </div>
            </div>
            <div class="ui inverted vertical ">
                <div class="ui active text" style=>
                    <img class="ui fluid  image" src="assets/images/slider/_DSC7370.png">
                </div>
            </div>
            <div class="ui inverted vertical ">
                <div class="ui active text" style=>
                    <img class="ui fluid  image" src="assets/images/slider/slider2.png">
                </div>
            </div>

        </div>


        <div class="segment ui  basic " style="margin-top: 29px;">
            <div class="ui  stackable grid ">
                <div class="row">

                    <div class="eight wide column">
                        <div class="ui piled  segment">
                            <h3 class="ui header">
                                <i class="users circular icon"></i>
                                <div class="content">
                                    About Us
                                </div>
                            </h3>
                            <p class="discription">The Department of Mechanical Engineering came into being in the year
                                1946
                                and the
                                first batch of Mechanical Engineers graduated in the year 1949. The department was
                                renamed
                                as Department
                                of Mechanical & Industrial Engineering on its silver jubilee in 1974 when an
                                undergraduate
                                programme in
                                Industrial Engineering was started. At present it offers both undergraduate and
                                postgraduate
                                courses in
                                various facets of Mechanical and Industrial Engineering. The department offers Master of
                                Technology
                                courses in Machine Design Engineering, Production and Industrial Systems Engineering,
                                Thermal System
                                Engineering, Welding Engineering and CAD, CAM and Robotics. The department has
                                laboratory
                                and workshop
                                facilities with modern sophisticated equipment to carry out research in all areas
                                related to
                                Mechanical
                                and Production & Industrial Engineering. The faculty actively participates in sponsored
                                research and
                                consultancy work.</p>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class=" four wide column">
                        <h3 class="ui top attached   header">
                            <i class="calendar alternate  icon"></i>
                            <div class="content">
                                Events
                            </div>
                        </h3>
                        <div class="ui attached   segment" style="height: 85%; overflow: 'auto';">
                            <div class="ui middle aligned selection list">
                                <div class="item" v-for="(event, index) in event_data" :key="index"
                                    @click="open_page(event.link)">
                                    <div class="content">
                                        <a class="header">{{event.title}}</a>
                                        <div class="extra">
                                            <i class="calendar icon"></i>{{event.date}}
                                            <span v-if="event.location" @click="open_page(event.location.link)"><i
                                                    class="map marker alternate icon"></i>{{event.location.title}}</span>
                                        </div>
                                        <div class="description">{{event.disc}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h3 class="ui top attached   header">
                            <i class="bullhorn
                      icon"></i>
                            <div class="content">
                                Announcements
                            </div>
                        </h3>
                        <div class="ui attached  segment" style="height: 85%;">
                            <div class="ui middle aligned selection list">
                                <div class="item" v-for="(announcement, index) in announcement_data" :key="index"
                                    @click="open_page(announcement.link)">
                                    <div class="content">
                                        <a class="header">{{announcement.title}}</a>
                                        <div class="extra">
                                            <i class="calendar icon"></i>{{announcement.date}}
                                        </div>
                                        <div class="description truncate">{{announcement.disc}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="row">
                    <div class="ui segment basic">
                        <div class="ui stackable grid ">
                            <div class="four wide column">
                                <div class="ui  vertical raised fluid pointing menu">
                                    <div class="item">
                                        <h3 class="ui header"> <i class="building circular icon"></i>
                                            Facilities</h3>
                                    </div>

                                    <a v-for="(item, index) in facilities" :key="index" class="item"
                                        :class="{ active: index===facilities_select}"
                                        @click="change_facility_select(index)">
                                        {{item.title}}
                                    </a>

                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="segment  ui">
                                    <img loading="lazy" :src="facilities[facilities_select]['img_link']"
                                        style="width: 100%;" alt="" srcset="">
                                </div>

                            </div>
                            <div class="four wide column">
                                <div class="ui  segment">
                                    <div class="ui black ribbon label">About the Facility</div>

                                    <p>{{facilities[facilities_select]["brief"]}}</p>
                                    <div class="ui black ribbon label">Key Equipments</div>
                                    <div class="ui bulleted list">
                                        <div class="item"
                                            v-for="(i, index) in facilities[facilities_select]['key_features']"
                                            :key="index">{{i}}</div>

                                    </div>
                                    <div class="ui  divider">
                                    </div>
                                    <button class="ui button"
                                        @click="open_page(facilities[facilities_select]['view_more_link'])">
                                        More Details
                                    </button>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>



    </div>
    <!-- <h2 class="ui horizontal header divider">
      Research News
    </h2> -->
    <!-- <div class="ui segment basic ">
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/avatar/large/daniel.jpg">
          </div>
          <div class="content">
            <a class="header">Daniel Louise</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/avatar/large/helen.jpg">
          </div>
          <div class="content">
            <a class="header">Helen Troy</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/avatar/large/elliot.jpg">
          </div>
          <div class="content">
            <a class="header">Elliot Fu</a>
          </div>
        </div>
      </div>
    </div> -->
    </div>

    <div id="infomatic" class="segment ui   inverted ">
        <div class="ui segment basic"></div>
        <div id="info-pad" class="ui six  small centered stackable statistics very padded  inverted ">
            <div class="statistic  ">
                <div class="value">
                    ₹98.60 Cr.
                </div>
                <div class="label">
                    Research Projects
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    ₹50.88 Cr.

                </div>
                <div class="label">
                    Consultancy Projects

                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    44

                </div>
                <div class="label">
                    Faculties

                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    209

                </div>
                <div class="label">
                    Ph.D. Students


                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    618

                </div>
                <div class="label">
                    PG Students



                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    89

                </div>
                <div class="label">
                    UG Students



                </div>
            </div>
        </div>
        <div class="ui segment basic"></div>

    </div>
    </div>





    <div class="ui container">
        <!-- <div class="ui vertical segment">
              <div class="ui three column stackable center aligned grid container">
                  <div class="column">
                      <img class="ui centered small circular image" src="./static/images/wireframe/square-image.png" />
                      <h1 class="ui header">Heading</h1>
                      <p>
                          Donec sed odio dui. Etiam porta sem malesuada magna mollis
                          euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                          Praesent commodo cursus magna.
                      </p>
                      <div class="ui basic button">View details &raquo;</div>
                  </div>
                  <div class="column">
                      <img class="ui centered small circular image" src="./static/images/wireframe/square-image.png" />
                      <h1 class="ui header">Heading</h1>
                      <p>
                          Donec sed odio dui. Etiam porta sem malesuada magna mollis
                          euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                          Praesent commodo cursus magna.
                      </p>
                      <div class="ui basic button">View details &raquo;</div>
                  </div>
                  <div class="column">
                      <img class="ui centered small circular image" src="./static/images/wireframe/square-image.png" />
                      <h1 class="ui header">Heading</h1>
                      <p>
                          Donec sed odio dui. Etiam porta sem malesuada magna mollis
                          euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                          Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                          Praesent commodo cursus magna.
                      </p>
                      <div class="ui basic button">View details &raquo;</div>
                  </div>
              </div>
          </div> -->
        <div class="ui vertical segment">
            <div class="ui stackable grid">
                <div class="ten wide column">
                    <h1 class="ui header">
                        From HOD's Desk
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem officia laborum obcaecati
                        nostrum
                        distinctio ab. Aliquam eius distinctio, eveniet aspernatur tenetur sunt nulla perferendis! Fugit
                        fugiat
                        architecto, ipsum quasi, in facere deleniti voluptatem a dolorum eligendi doloremque voluptatum
                        ullam?
                        Quisquam dolor, accusantium nesciunt minus alias iste quidem molestiae quam dolore.
                    </p>
                </div>
                <div class="six wide right aligned column">
                    <div class="ui raised segment"><img class="ui rounded bordered image"
                            src="./assets/images/head.jpg" />
                    </div>
                </div>
            </div>

        </div>

    </div>



    <!-- <h2 class="ui horizontal header divider">
          Recent Guest Lecture
        </h2>
        <div class="ui container">
          <div class="ui segment raised">
              <div class="ui embed" data-source="youtube" data-id="ePq9tAavzSM" data-placeholder="">
          </div>
          </div>
  
        </div> -->


    <div class=" ui  basic segment">
        <div class="ui two column center aligned divided relaxed stackable grid ">
            <div class="row">

                <div class="column">
                    <h2 class="ui horizontal divider header">
                        Highlights
                    </h2>
                    <div class="segment ui basic ">
                        <div id="gallery" style="width: 100%; height: 100%;">
                            <div data-type="html5video" data-image="assets/images/mied photos/2017-09-29 (1).jpg"
                                data-videomp4="assets/video/video.mp4" data-title="Welcome Video"
                                data-description="Department of Mechanical and Industrial Engineering">
                            </div>
                            <div data-type="youtube" data-videoid="ePq9tAavzSM" data-title="GoPro Demo"
                                data-description="Inaugural Prof S. Lal Memorial Lecture Mechanics Mechanisms Fracture of Magnesium by Prof Narasimhan">
                            </div>
                            <img src="assets/images/slider/REPROM_Flyer.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h2 class="ui horizontal divider header">
                        Common Facilities
                    </h2>
                    <div class="segment ui basic ">
                        <div id="gallery2" style="width: 100%; height: 100%;">
                            <img alt="Modern Workshop" src="assets/images/slider/workshop.jpg"
                                data-description="The Modern Workshop at Indian Institute of Roorkee, is a common facility which provides fabrication services for projects and prototype fabrication to all the students and faculty members of the Institute.">
                            <img alt="Image 1 Title" src="assets/images/slider/top1.jpg"
                                data-description="Image 1 Description">

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




    <h2 class="ui horizontal header divider">
        Image Gallery
    </h2>

    <div class="basic ui segment">

        <div class="image-gallery ">
            <div class="segment ui raised" style="margin-top: 14px;"><img class="ui image  rounded"
                    src="assets/images/mied photos/2017-09-29 (1).jpg" alt></div>
            <div class="segment ui raised"><img class="ui image rounded"
                    src="assets/images/mied photos/2020-03-08 (2).jpg" alt></div>
            <div class="segment ui raised"><img class="ui image rounded" src="assets/images/mied photos/2017-06-20.jpg"
                    alt>
            </div>
            <div class="segment ui raised"><img class="ui image rounded"
                    src="assets/images/mied photos/2020-03-08 (1).jpg" alt></div>
            <div class="segment ui raised"><img class="ui image rounded"
                    src="assets/images/mied photos/2017-09-29 (2).jpg" alt></div>
            <div class="segment ui raised"><img class="ui image rounded" src="assets/images/mied photos/2017-12-16.jpg"
                    alt>
            </div>


        </div>

    </div>

    <div id="footer" class="ui inverted vertical footer  segment">
        <div class="ui center aligned container">
            <div class="ui inverted  segment"></div>
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">DEANS' CORNER
                    </h4>
                    <div class="ui inverted link list">
                        <a href="https://www.iitr.ac.in/academics/pages/About_us.html" class="item">Academic Affairs</a>
                        <a href="https://www.iitr.ac.in/Main/pages/establishments+Establishment_Services.html"
                            class="item">Administration</a>
                        <a href="https://www.iitr.ac.in/dosw/" class="item">DOSW</a>
                        <a href="https://www.iitr.ac.in/administration/pages/Administration+DOFA+DOFA.html"
                            class="item">Faculty
                            Affairs</a>
                        <a href="https://www.iitr.ac.in/Main/pages/_en_Office_of_Dean_Finance_and_Planning___en_.html"
                            class="item">Finance & Planning</a>
                        <a href="https://www.iitr.ac.in/estateworks/" class="item">Infrastructure</a>
                        <a href="https://alumni.iitr.ac.in/" class="item">Resources and Alumni Affairs</a>
                        <a href="https://www.iitr.ac.in/sric/" class="item">SRIC</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">PORTALS</h4>
                    <div class="ui inverted link list">
                        <a href="https://www.iitr.ac.in/Main/pages/Advaita.html" class="item">Advaita</a>
                        <a href="https://channeli.in/" class="item">Channel I</a>
                        <a href="http://ghbooking.iitr.ac.in/" class="item">Guest House Booking</a>
                        <a href="https://www.iitr.ac.in/internalaudit/" class="item">Internal Audit</a>
                        <a href="https://channeli.in/meeting_minutes/" class="item">Minutes of Meetings</a>
                        <li><a href="https://www.iitr.ac.in/centers/ELC/pages/Home.html" class="li-a">NPTEL/</a><a
                                href="https://www.iitr.ac.in/centers/CCE/pages/About_Us.html" class="li-a">CEC/</a><a
                                href="https://www.iitr.ac.in/qip/" class="li-a">QIP/</a><a
                                href="https://www.iitr.ac.in/teqip/" class="li-a">TEQIP</a></li>
                        <a href="https://www.iitr.ac.in/support/" class="item">Support</a>
                        <a href="https://www.iitr.ac.in/Main/pages/_en_Webmail__en_.html" class="item">Webmail</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">FUNDS TRANSFER</h4>
                    <div class="ui inverted link list">

                        <a href="https://www.onlinesbi.com/sbicollect/icollecthome.htm?corpID=339356"
                            class="item">Contribution
                            For Medical Emergency</a>
                        <a href="http://awards.iitr.ac.in/donors/top-donors.php" class="item">Giving Back</a>
                        <a href="https://www.iitr.ac.in/academics/pages/ONLINE_FEE_SUBMISSION.html" class="item">Online
                            Fee
                            Deposit</a>
                    </div>
                    <h4 class="ui inverted header">WOMEN'S CELL </h4>
                    <div class="ui inverted link list">
                        <a href="http://iitr.ac.in/internalcomplaintscommittee/" class="item">Internal Complaints
                            Committee</a>

                    </div>
                </div>
                <div class="three wide column">

                    <h4 class="ui inverted header">OTHER LINKS</h4>
                    <div class="ui inverted link list">

                        <a href="https://www.iitr.ac.in/anushruti/" class="item">Anushruti Academy for Deaf</a>
                        <a href="https://www.iitr.ac.in/calendar/" class="item">Calendar</a>
                        <a href="https://www.iitr.ac.in/Main/pages/Contact_Us.html" class="item">Contact Us</a>
                        <li><a href="https://www.iitr.ac.in/Main/pages/NIRF.html" class="li-a">NIRF/</a><a
                                href="https://www.iitr.ac.in/Main/pages/ARIIA.html" class="li-a">ARIIA</a></li>
                        <a href="https://www.iitr.ac.in/Main/pages/_en_IITR_Presentation__en_.html"
                            class="item">Presentation
                            template</a>
                        <a href="https://www.iitr.ac.in/Main/pages/_en_Right_To_Information__en_.html"
                            class="item">Right To
                            Information</a>
                        <a href="https://www.iitr.ac.in/Main/pages/Telephone+Telephone_Directory.html"
                            class="item">Telephone
                            Directory</a>
                        <li><a href="https://www.thomso.in/" class="li-a">Thomso/</a><a
                                href="https://www.iitr.ac.in/institute/pages/Cognizance.html"
                                class="li-a">Cognizance/</a><a href="https://srishti.iitr.ac.in/"
                                class="li-a">Srishti</a></li>
                    </div>



                </div>
                <div class="four wide column  middle aligned">
                    <a href="https://www.iitr.ac.in/"><img src="assets/images/logo/IITR_new_logo_WHITE.png"
                            class="ui  centered small image"></a>

                </div>
            </div>
            <div class="ui inverted  divider"></div>

            <div class="ui horizontal inverted ">
                <p>Copyright © 2021, All Rights Reserved</p>
            </div>
        </div>
    </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


    <script>
        $(document).ready(function () {
            $(".ui.toggle.button").click(function () {
                $(".mobile.only.grid .ui.vertical.menu").toggle(100);
            });

            $(".ui.dropdown").dropdown({ transition: 'slide down', on: 'hover' });

            $(".slide").slick({

                dots: true,
                speed: 300,
            });

            $('.ui.sticky')
                .sticky({
                    context: '#footer'
                })
                ;
            $('.ui.embed').embed();



            $('.multiple-items').slick({
                slidesToShow: 4,
                slidesToScroll: 4,
                arrows: false,
                dots: true,
                rows: 2,


            });
        });


    </script>



    <script>
        $(document).ready(function () {
            var macyInstance = Macy({
                // See below for all available options.
                container: '.image-gallery',
                columns: 3,
                margin: 16,
                trueOrder: true,
                breakAt: {
                    760: {
                        margin: {
                            x: 8,
                        },
                        columns: 2
                    }
                }
            });
        })

    </script>

    <script src="vue.js">

    </script>
    <script src="script.js"></script>

    <script src='./unitegallery/js/unitegallery.min.js' type='text/javascript'></script>
    <script src='./unitegallery/themes/default/ug-theme-default.js' type='text/javascript'></script>
    <script src='unitegallery/themes/slider/ug-theme-slider.js' type='text/javascript'></script>

    <script>

        $(document).ready(function () {
            $("#gallery").unitegallery({
                gallery_width: 1600,							//gallery width		
                gallery_height: 800,							//gallery height
            });
            $("#gallery2").unitegallery({
                gallery_width: 1600,							//gallery width		
                gallery_height: 800,							//gallery height
                gallery_autoplay: false,
                gallery_carousel: true,						//true,false - next button on last image goes to first image.
                slider_enable_play_button: false,			 //enable progress indicator element
                slider_enable_text_panel: true,
                gallery_theme: "slider",
                // slider_controls_always_on: false,
                slider_textpanel_text_valign: "bottom",			//middle, top, bottom - text vertical align
                slider_enable_bullets: false,				//enable the bullets onslider element


            });

            var $homeIcon = $('#info-pad');

            $(window).resize(function () {
                if (window.innerWidth <= 767) {
                    $homeIcon.addClass('two');
                    $homeIcon.removeClass('six');
                }
                else {
                    $homeIcon.removeClass('two');
                    $homeIcon.addClass('six');
                }
            });

        });
    </script>

</body>

</html>